/* src/design/typography/kbd/Kbd.css */
.kbd-component {
  font-family: var(--ff-mono, monospace);
  font-size: var(--local-fs, 0.875em);
  font-weight: var(--local-fw, inherit);
  color: var(--local-color, var(--text-default));
  background-color: var(--bg-1);
  border: 1px solid var(--border-subtle);
  border-radius: var(--rad-sm);
  padding: 0.125em 0.375em;
  box-shadow: 0 1px 1px var(--border-subtle);
}
