/* src/design/typography/label/Label.css */
.label-component {
  display: inline-block;
  font-size: var(--local-fs, var(--fs-sm));
  font-weight: var(--local-fw, var(--fw-medium));
  color: var(--local-color, var(--text-default));
  margin-bottom: var(--sp-xs);
  cursor: pointer;
}

.label-component.label--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.label-component .label__required {
  color: var(--text-danger);
  margin-left: 0.25em;
  font-weight: bold;
}
