.grid-component {
  display: grid;
  width: 100%;
}

.grid-component--explicit {
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .grid-component--explicit {
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
}

