@import './vars.css';

:root {

  /* ─── TEXT ────────────────────────────────────────────── */
  --text--2xs: var(--fs-2xs);
  --text--xs: var(--fs-xs);
  --text--sm: var(--fs-sm);
  --text--md: clamp(1rem, 1.5vi, 1.5rem);
  --text--lg: var(--fs-lg);
  --text--xl: var(--fs-xl);
  --text--2xl: var(--fs-2xl);
  --text--3xl: var(--fs-3xl);
  --text--4xl: var(--fs-4xl);
  --text--5xl: var(--fs-5xl);
  --text--6xl: var(--fs-6xl);

}