@import './vars.css';

:root {

  /* ─── TEXT ────────────────────────────────────────────── */
  --text-2xs: var(--fs-2xs);
  --text-xs: var(--fs-xs);
  --text-sm:  var(--fs-sm);
  --text-md:  var(--fs-md);
  --text-lg: var(--fs-lg);
  --text-xl: var(--fs-xl);
  --text-2xl: var(--fs-2xl);
  --text-3xl: var(--fs-3xl);
  --text-4xl: var(--fs-4xl);
  --text-5xl: var(--fs-5xl);

}

.text--2xs { font-size: var(--text-2xs); }
.text--xs { font-size: var(--text-xs); }
.text--sm { font-size: var(--text-sm); }
.text--md { font-size: var(--text-md); }
.text--lg { font-size: var(--text-lg); }
.text--xl { font-size: var(--text-xl); }
.text--2xl { font-size: var(--text-2xl); }
.text--3xl { font-size: var(--text-3xl); }
.text--4xl { font-size: var(--text-4xl); }
.text--5xl { font-size: var(--text-5xl); }