:root {

  /* ─── FONT SIZE ─────────────────────────────────────── */

  --fs-2xs: clamp(0.625rem, 0.625rem + 0.25vi, 0.75rem);
  --fs-xs: clamp(0.75rem, 0.75rem + 0.5vi, 1rem);
  --fs-sm: clamp(0.875rem, 0.875rem + 0.5vi, 1.125rem);
  --fs-md: clamp(1rem, 1.5vi, 1.25rem);
  --fs-lg: clamp(1.125rem, 2vi, 1.5rem);
  --fs-xl: clamp(1.25rem, 2.5vi, 2rem);
  --fs-2xl: clamp(1.5rem, 4vi, 3rem);
  --fs-3xl: clamp(2rem, 6vi, 4.5rem);
  --fs-4xl: clamp(2.5rem, 8vi, 6rem);
  --fs-5xl: clamp(3rem, 10vi, 8rem);
  --fs-6xl: clamp(3.5rem, 12vi, 9rem);

  /* ─── FONT WEIGHT ───────────────────────────────────── */

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;


  /* ─── LINE HEIGHT ───────────────────────────────────── */

  --lh-none: 1;
  --lh-tight: 1.25;
  --lh-snug: 1.375;
  --lh-normal: 1.5;
  --lh-relaxed: 1.625;
  --lh-loose: 2;


  /* ─── LETTER SPACING ────────────────────────────────── */

  --ls-tighter: -0.05em;
  --ls-tight: -0.025em;
  --ls-normal: 0em;
  --ls-wide: 0.025em;
  --ls-wider: 0.05em;
  --ls-widest: 0.1em;

  /* ─── MEASURE ───────────────────────────────────────── */

  --measure-2xs: 30ch;
  --measure-xs: 45ch;
  --measure-sm: 55ch;
  --measure-md: 65ch;
  --measure-lg: 75ch;
  --measure-xl: 90ch;
  --measure-none: none;


}