.collapsible {
  width: 100%;
}

.collapsible__summary {
  cursor: pointer;
  list-style: none; /* Hide default arrow in most browsers */
  user-select: none;
  /* padding moved to inner Paper component */
}

.collapsible__summary-paper {
  display: block;
  width: 100%;
  border: 1px solid var(--border-layer--1);
  transition: all .3s fade-in;
}

.collapsible__summary-paper:has(.collapsible[open]) {
  border-color: var(--border-primary-subtle);
}

.collapsible__summary-inner {
  width: 100%;
}

.collapsible__summary::-webkit-details-marker {
  display: none; /* Hide default arrow in Safari */
}

.collapsible__icon {
  display: inline-flex;
  transition: transform var(--td-normal, 0.6s) var(--te-out, ease-out);
  flex-shrink: 0;
}

.collapsible[open] .collapsible__icon {
  transform: rotate(540deg);
  color: var(--text-primary);
  border-color: var(--text-primary);
}

collapsible[open] {
  border-color: var(--text-primary);
}

.collapsible__content {
  padding-top: var(--collapsible-gap, var(--sp-xs, 0.25rem));
  padding-bottom: var(--sp-md, 1rem);
}
